@using ExcelSourceProject.View_Models;
@model List<DataVm>
@{
    ViewBag.Title = "DisplayData";
}

<div class="jumbotron jumbotron-fluid" style="padding:0px;padding-bottom: 50px;background-color:rgba(255,255,255,0.6);">
    <h3>Display View</h3>
    @foreach (var userdata in Model)
    {
        <div row>
            @userdata.FirstName
            @userdata.LastName
            @userdata.EmailAddress
            <br />
        </div>
    }
</div>
