@{
    ViewBag.Title = "Home";
}

<div class="jumbotron jumbotron-fluid text-center" style="padding:0px;padding-bottom: 50px;background-color:rgba(255,255,255,0.6);">
    <h1>Excel Source Upload</h1>
    <p class="lead">Ensure source file is up to date before reading data.</p>
    <button type="button" class="btn btn-primary btn-lg" onclick=" window.location.href= '@Url.Action("ReadData", "Home")'">Read Data</button>
</div>